body{
  background-color: #E4F9F5;
}
hr{
  width: 3%;
  border-style: none;
  border-top-style: dotted;
  border-width: 8px;
  border-color: lightgrey
}
h1 {
  color: #53BF9D;
}
h2 {
  color: #53BF9D;
}
h3 {
  color: #53BF9D;
}
